
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>   ABOUT US </h2>
    <p>
        The main objective of Online Event Registration is to mitigate the complexity
        involved in Spot Registrations and also its eco-friendly trait.

    </p>
</div>

<div class="col-md-2"></div>
<div class="col-md-4">

    <p><img src="~/Content/Image/kisspng-event-management-organization-catering-organizing-event-5abc92f818e6c3.871406001522307832102.png" /></p>
</div>
<div class="col-md-4">

    <div class="card aside">
        <div class="card-img pb-3">
            <span class="mbr-iconfont mbri-users" style="color: rgb(0, 0, 0);" media-simple="true"></span>
        </div>
        <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">
                OUR MISSION
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
                The online registration system helps organizations save time and cut back
                their paperwork. The online registration can be used for different purposes
                such as registration for events, activities, classes, leagues, conferences,
                meetings and etc.
            </p>
        </div>
    </div>

    <div class="card aside">
        <div class="card-img pb-3">
            <span class="mbr-iconfont mbri-users" style="color: rgb(0, 0, 0);" media-simple="true"></span>
        </div>
        <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">
                OUR VALUES
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
                These Plateforms allow your target Client buy ticket and register for event
                As per their convenience.While Client Registring they provide thier information, It means
                you will get valuable data about your Clients Personal, Your customer support and sales team store use this data
                for future reference including generating leads, pursing, prospect etc
            </p>
        </div>
    </div>
    <div class="card aside marb15">
        <div class="card-img pb-3">
            <span class="mbr-iconfont mbri-users" style="color: rgb(0, 0, 0);" media-simple="true"></span>
        </div>
        <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">
                OUR SOLUTION
            </h4>
            <p>
                Developing the event registration site is only up to the registration
                of the events being organized but not the cancellation or any other
                update activities to be held on the events registered by the individuals.
                Online event registration streamlines the process, improves efficiency,
                often increases attendance, and measures results with a click of the mouse
            </p>
        </div>
    </div>




</div>


<div class="col-md-2"></div>

